/* CSS da pagina de login */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
}