/* 1. AJUSTE DA MARGEM DO CORPO
    Aumentei para 160px porque o cabeçalho agora ficou maior
    com a caixa de período dentro dele.
*/
body {
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 160px;
    margin-bottom: 40px;
}

/* 2. AJUSTE DO CABEÇALHO FIXO
    Aumentei a altura (height) para 150px para caber tudo.
*/
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    text-align: center;
}

.logo {
    float: left;
    display: block;
    margin-left: 50px;
    margin-top: 10px;
} 
        
.title {
    float: right;
    font-weight: bold;
    font-size: 30px;
    margin-top: 35px;
    margin-right: 100px;
    text-transform: uppercase;
}

/* 3. AJUSTE DA CAIXA DE PERÍODO
    Como ela está dentro do header agora, removi margins exageradas
    e garanti o clear:both para ela cair para a linha de baixo do logo/titulo
*/
.period-box {
    clear: both;
    border: 2px solid black;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
}
        
/* Layout de Colunas */
.row {
    width: 100%;
    clear: both;
    margin-bottom: 15px;
}
.col-left {
    float: left;
    width: 48%;
    margin-top: 25px;
}
.col-right {
    float: right;
    width: 48%;
    margin-top: 25px;
}
        
/* Caixas */
.day-header {
    border: 2px solid black;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    background-color: #fff;
}
        
/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}
td { 
    padding: 4px;
}
.time-col {
    width: 40%;
    white-space: nowrap;
}
.name-col {
    text-transform: uppercase;
    padding-left: 10px;
}
.folga {
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #000;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    background-color: #fff;
}